.canvas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    max-width: 800px;
    
  }

  svg {
    margin: 0 auto;
outline: 1px solid #000;
      max-width: 100%;
    
  }
  g{
    /*transform: rotate(-180deg);*/
  }
  text{
    /*transform: rotate(180deg);*/
  }

