.canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    outline: 1px solid #000;
  }

  svg.chart{
      margin: 0 auto;
      max-width: 100%;
  }

  .unit {
    fill: none;
    stroke-width: 10;
    /* interactive */
    animation-name: render;
    animation-duration: .5s;
    transition-property: all; 
    transition-duration: .5s;
  }
  .unit:nth-child(1):hover {
    opacity: 0.8;
    stroke-width: 12;
  }

.unit-text{
  transform: rotate(90deg);
}