.dynamic-pie-canvas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    outline: 1px solid #000;
    flex-direction: column;
  }
  .dynamic-pie-circle {
    fill: #ddd;
    stroke: #0074d9;
    stroke-width: 32;
    stroke-dasharray: 0 100;
    transition: stroke-dasharray .3s ease;
  }
.dynamic-pie-buttons{

}
.dynamic-pie-svg{
  margin: 0 auto;
  max-width: 100%;
  transform: rotate(-90deg);
  background: #ddd;
  border-radius: 50%;
  display: block;
}
